ul.ant-menu-root {
    height: calc(100% - 136px) ;
}
ul.ant-menu li.ant-menu-item, .ant-menu-submenu div{
    height: 30px !important;
    padding: 0%;
    margin: 0%;
    text-align: left;
    margin-top: 8px !important;
    margin-bottom: 8px !important; 
}
.ant-menu-submenu ul{
    background-color: rgb(14,88,144);
    text-align: left;
}
.ant-menu-submenu ul li{
    background-color: rgb(14,88,144); 
    margin: 0 !important;
    width: 100% !important;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(92, 92, 100);
    margin-bottom: 11px!important;
    /* line-height: 30px; */
    /* padding-left: 24px!important;

    margin-top: 15px!important; */
    
}
#MenuParent{
    height: 100vh;
    width: 260px;
}               


:where(.css-dev-only-do-not-override-w8mnev).ant-menu-inline .ant-menu-item:not(:last-child), :where(.css-dev-only-do-not-override-w8mnev).ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-top: 18px !important;
    margin-bottom: 12px !important;;
}


:where(.css-dev-only-do-not-override-w8mnev).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content, :where(.css-dev-only-do-not-override-w8mnev).ant-menu-inline.ant-menu-root .ant-menu-submenu-title >.ant-menu-title-content{
    font-size: 16px;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-menu .ant-menu-item .ant-menu-item-icon svg, :where(.css-dev-only-do-not-override-w8mnev).ant-menu .ant-menu-submenu-title .ant-menu-item-icon svg{
width: 20px;
height: 21px;
}

.marque{
    font-size: 21px;
    letter-spacing: 3px;
    width: 100%;
    margin-left: 200px;
    word-spacing: 0.5cm;
}
.marque  marquee{
    word-spacing: 11px;
}
.marque  span{
    word-spacing: 0px;
}


:where(.css-dev-only-do-not-override-w8mnev).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-w8mnev).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: rgb(14,88,144); 
}
