.charts{
    position: absolute;
    background: #ffffff;
    width: 100%;
    /* padding: 20px;  */
     /* border-radius: 10px;  */
     max-height: 44em;
    overflow: auto;
    z-index: 10;
    width: 100%;
    height: 22vw;
    /* top: 388px; */
    left: 0vw;
    /* margin-left: auto; */
    bottom: 0;

  
}

