div.mapdivdiag{
    /* height: calc(100vh - 34px) !important; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.labelDiv  span{
    line-height: 23px;
    color: black;
    font-weight: 600;

}
.labelDiv  div{
    line-height: 23px;
    color: black;

}

.borderDiv{
    border-bottom: 1px solid gray;
}


.errMsg{
    z-index: 10;
    position: absolute;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
        margin-top: 13px;
    background-color: #ff00008a;
    height: 32px;
    border-radius: 7px;
    padding: 8px;

    width: 216px;
 
   
}
.errMsg p{
    position: relative;
    top: -2px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}